<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/css/build.min.css" rel="stylesheet" />
    <title>{{.Title}}</title>
  </head>
  <body class="antialiased bg-gray-100 text-gray-600 h-screen px-4">
    <span
      class="absolute text-white text-4xl top-5 left-4 cursor-pointer"
      onclick="openSidebar()"
    >
      <i class="bi bi-filter-left px-2 bg-gray-900 rounded-md"></i>
    </span>
    <div
      class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-gray-900"
    >
      <div class="text-gray-100 text-xl">
        <div class="p-2.5 mt-1 flex items-center">
          <h1 class="font-bold text-gray-200 text-[15px] ml-3">{{.Title}}</h1>
          <i
            class="bi bi-x cursor-pointer ml-28 lg:hidden"
            onclick="openSidebar()"
          ></i>
        </div>
        <div class="my-2 bg-gray-600 h-[1px]"></div>
      </div>
      <div
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
      >
        <i class="bi bi-chat-left-text-fill"></i>
        <div class="flex justify-between w-full items-center">
          <span class="text-[15px] ml-4 text-gray-200 font-bold">Tables</span>
        </div>
      </div>
      <div
        class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold"
      >
        {{range .tables}}
        <a href="/{{.}}/data" class="block cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">
          {{.}}
        </a>
        {{end}}
      </div>
      <div class="my-4 bg-gray-600 h-[1px]"></div>
      <a
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
        href="/"
      >
        <span class="text-[15px] ml-4 text-gray-200 font-bold">Home</span>
      </a>
      <a
        class="p-2.5 mt-3 flex items-center rounded-md px-4 duration-300 cursor-pointer hover:bg-blue-600 text-white"
        href="/setting"
      >
        <span class="text-[15px] ml-4 text-gray-200 font-bold">Settings</span>
      </a>
    </div>