{{template "partials/header" .}}

    <div class="ml-[300px] flex flex-col justify-center h-full">
        <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
            <div class="w-full max-w-2xl mx-auto bg-white shadow-lg rounded-sm border border-gray-200">
                <header class="p-4 border-b border-gray-100">
                    <div class="font-semibold text-gray-800">Settings</div>
                </header>

                <div class="overflow-x-auto">
                    
                </div>
            </div>
        </div>
    </div>

{{template "partials/footer" .}}