.main {
  width: fit-content;
  margin-inline: auto;
}

.title {
  text-align: center;
}

.tables {
  list-style: none;
}

.table-btn {
  background-color: transparent;
  border-radius: 0;
  border: none;
  font-size: small;
  cursor: pointer;
}

.table-btn a, button{
  color: rgb(75, 75, 75);
  text-decoration: none;
}