<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/base.css">
  <title>{{.table_name}}</title>
</head>
<body>
  <h3>{{.table_name}}</h3>
  <p>{{.sql_query}}</p>

  <form action="/add-column" method="post">
    <label for="table_name">&#43; Add Column</label>
    <input type="hidden" id="table_name" name="table_name" placeholder="table-name" value="{{.table_name}}"/>
    <input type="text" id="column_name" name="column_name" placeholder="column-name"/>
    <label for="data_type"></label>
    <select name="column_type">
      <option value="CHARACTER(20)">CHARACTER(20)</option>
      <option value="VARCHAR(255)">VARCHAR(255)</option>
      <option value="INTEGER">INTEGER</option>
      <option value="FLOAT">FLOAT</option>
      <option value="BOOLEAN">BOOLEAN</option>
    </select>
    <button type="submit">Create</button>
  </form>
</body>
</html>